/* Sayfa içeriği düzenleme
.container {
    margin: 20px auto;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .card-title {
    font-weight: bold;
    color: #343a40;
  }
  
  .card-text {
    color: #6c757d;
  }
   */
   @media (max-width: 768px) { /* Mobil cihazlar için */
    .deneme {
      margin-top: 100px; /* İstediğiniz miktarı girin */
    }
  }